*{
    background: #000;
}
h1,p{
    color: white;
    text-align: center;
}
p{
    font-size: 20px;
}
.image img{
    width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
footer{
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
footer p{ font-size: 1rem; }